{% extends "layout.html" %}

{% block content %}
<p1>Zaloguj się</p1>
<form method="POST">
   {{ form.csrf_token }}
    <p>{{error_login}}</p>
    {{ form.login.label }} {{ form.login }}<br>
    {{ form.password.label }} {{ form.password }}<br>
    <input type="submit" name="Click">
</form>
{% endblock %}