{% extends "layout.html" %}
{% block content %}

<h2>Name: {{pet.name}}</h2>
<p>Hunger: {{pet.hunger}}</p>
<p>Play: {{pet.play}}</p>
<p>Hygiene: {{pet.hygiene}}</p>

<form class="form" method="post">
    <button name="type" value="refresh" class="btn btn-primary">Refresh</button>
    <button class="btn btn-primary" name="type" value="feed">Feed</button>
    <button class="btn btn-primary" name="type" value="play">Play with pet</button>
    <button class="btn btn-primary" name="type" value="bath">Bath</button>
</form>
{% endblock %}