{% extends "layout.html" %}

{% block content %}
<p>Twoje zwierzątka: {{pet_counter}}</p>
<ul>
    {% for a in pets %}
        <li><a href=" http://127.0.0.1:5000/{{a.id}}">{{ a.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}